:root {
  //Fonts
  --font-family-main: "Comfortaa", sans-serif;

  //Colors
  --main-color: #202b3b;
  --secondary-color: #0b131e;
  --blue-color: #008bee;
  --white-color: #f0f1f1;
  --gray-color: #6e7e99;

  //Border
  --border-radius: 10px;

  //Gap
  --main-gap: 20px;
}
