.LocationSection {
  width: 60%;
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.Location {
  background-color: var(--main-color);
  border-radius: var(--main-gap) 0px 0px var(--main-gap);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--main-gap);
  transition: background-color 0.2s linear;
  cursor: pointer;
}
.Location:hover {
  border-radius: var(--main-gap) 0px 0px var(--main-gap);
  background-color: var(--secondary-color);
  border: 1px solid var(--blue-color);
}
.functionalSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 0px var(--main-gap) var(--main-gap) 0px;
}
.mainSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  column-gap: var(--main-gap);
}
.title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  row-gap: var(--main-gap);
}
.time {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-color);
}
.icon {
  height: 80px;
  width: auto;
}
.temperature {
  font-size: 32px;
}
