.infoItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: calc(var(--main-gap) / 2);
  align-items: flex-start;
}

.infoInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: calc(var(--main-gap) / 2);
}

.infoItemTitle {
  color: var(--gray-color);
  font-weight: bold;
}

.icon {
  width: 20px;
  height: auto;
  fill: var(--gray-color);
}

.value {
  font-size: 20px;
}

@media (width <= 500px) {
  .infoItem {
    width: 100%;
  }
  .infoInner {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .value {
    font-size: 18px;
  }
}
@media (width <= 250px) {
  .infoItem {
    width: 100%;
  }
  .infoInner {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .value {
    font-size: 16px;
  }
}
