.infoItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: calc(var(--main-gap) / 2);
  align-items: flex-start;
}

.infoInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: calc(var(--main-gap) / 2);
}

.infoItemTitle {
  color: var(--gray-color);
  font-weight: bold;
}

.icon {
  width: 20px;
  height: auto;
  fill: var(--gray-color);
}

.value {
  font-size: 20px;
}
