.NavBar {
  padding: calc(var(--main-gap));
  height: calc(100vh - calc(var(--main-gap) * 2));
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--main-gap) * 2);
  align-items: center;
  justify-content: flex-start;
}

.LogoIcon {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--main-gap);
}

.default {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: var(--gray-color);
}

.active {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: var(--white-color);
}
