.DailyForecast {
  font-weight: bold;
  padding: var(--main-gap);
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  row-gap: var(--main-gap);
  height: auto;
  margin-bottom: var(--main-gap);
}
.title {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--gray-color);
}
.forecastList {
  column-gap: var(--main-gap);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: var(--main-gap);
  overflow-y: hidden;
  overflow-x: scroll;
}
