.weatherList {
  width: 100%;
  height: calc(100vh - var(--main-gap) * 2);
  display: flex;
  flex-direction: column;
  row-gap: var(--main-gap);
  overflow-y: scroll;
}

.empty {
  padding: var(--main-gap);
  color: var(--gray-color);
  font-size: 24px;
  font-weight: bold;
}

@media (width <= 900px) {
  .weatherList {
    height: calc(100vh - var(--main-gap) * 2);
  }
}
@media (width <= 500px) {
  .weatherList {
    height: calc(80vh - var(--main-gap) * 2);
  }
}
